# Exclude all these files
*.txt
*.csv
*.ipynb
*.pdf
*.png
*.html
*.log
*.sql
__init__.pyc
.coverage

# postgress data base settings
database.ini


# docker compose env file
.env.prod


# Exclude these folders
__pycache__/
env/
.DS_Store
.ipynb_checkpoints/
postgresql_data/

# Exclude these secret env files
sendgrid.env
src_email.env
dest_email.env

# Do not exclude
!TODO_items.txt
!requirements.txt
!project_data.txt
