# Exclude all these files
*.txt
*.csv
*.ipynb
*.pdf
*.png
*.html
*.log
*.sql
__init__.pyc
.coverage



# But don't ignore these test_setup_files
!scripts/test_setup_files/Ogre-raw-data-report.txt
!scripts/test_setup_files/pandas_df.csv
!scripts/test_setup_files/cleaned-sorted-df.csv
!scripts/test_setup_files/Ogre_city_report.pdf
!scripts/test_setup_files/basic_price_stats.txt
!scripts/test_setup_files/email_body_txt_m4.txt


# Exclude postgress data base settings
database.ini


# Exclude docker compose env file
.env.prod


# Exclude these folders
__pycache__/
env/
.DS_Store
.ipynb_checkpoints/
postgresql_data/

# Exclude these secret env files
sendgrid.env
src_email.env
dest_email.env

# Do not exclude
!requirements.txt
!project_data.txt
