
# ws_worker container envs
DEST_EMAIL=<...>
SRC_EMAIL=<...>
RELEASE_VERSION=1.6.0

AWS_ACCESS_KEY_ID=<...>
AWS_SECRET_ACCESS_KEY=<...>

POSTGRES_PASSWORD=<DB password>

# Used for both postgres container and ws container
DB_NAME=<...>
DB_USER=<...>

CITY_MAIN_URL="https://www.ss.lv/lv/real-estate/flats/ogre-and-reg/ogre/sell/"
EMAIL_CITY_TITLE="Ogre"

