---
name: CI
on:
  push:
    branches:
      - dev-1.5.1
jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9  
      - name: Install dependencies
        run: |
          python -m pip install pytest
          python -m pip install coverage
          pip install -r ./src/ws/requirements.txt 
          pip install -r ./src/ts/requirements.txt 
      - name: Run pytest cov report
        run: |
          coverage run -m pytest
          coverage xml -o coverage.xml
        continue-on-error: true  # Ignore the failure of this step
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          name: coverage-report
          path: coverage.xml
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  Build:
    needs: Test
    runs-on: ubuntu-latest
    env:
      S3_BUCKET: ${{ secrets.S3_BUCKET }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup creating database.ini env file
        run: |
          echo "[postgresql]" > src/ws/database.ini
          echo "host=db" >> src/ws/database.ini
          echo "${{ secrets.PG_DB_NAME }}" >> src/ws/database.ini
          echo "${{ secrets.PG_DB_USER }}" >> src/ws/database.ini
          echo "${{ secrets.PG_DB_PASS }}" >> src/ws/database.ini
          ls -la src/ws | grep ini  
          cat src/ws/database.ini
      - name: Before build step 2 create .env.prod file
        run: |
          echo "# ws_worker container env variables" > .env.prod
          echo "${{ secrets.DEST_EMAIL }}" >> .env.prod 
          echo "${{ secrets.SRC_EMAIL }}" >> .env.prod 
          echo "${{ secrets.SENDGRID_API_KEY }}" >> .env.prod
          echo "${{ secrets.POSTGRES_PASSWORD }}" >> .env.prod 
          ls -la | grep env
          cat .env.prod 
      - name: Show environment
        run: |
          cat /etc/os-release
          docker -v
          docker-compose -v
          docker compose version
          python3 -V
          pip install boto3
      - name: Setup step 3 download last DB file from S3 bucket
        run: |
          python3 ./src/db/get_last_db_backup.py
          cp *.sql ./src/db 
          ls -lh ./src/db | grep sql
      - name: Start DB container ONLY
        run: |
          pwd
          docker-compose --env-file .env.prod up -d
      - name: List DB table sizes to confirm if DB import was correct
        run: >
          sleep 15
          docker-compose ps
          docker exec sslv_web_scraper_db_1  psql -U new_docker_user -d new_docker_db -c '\dt+'
      - name: Run docker compose ps
        run: |
          sleep 15
          docker-compose ps
      - name: Run compose down
        run: docker-compose down
